[Desktop Entry]
Name=Breeze Blurred
X-KDE-PluginInfo-Author=ShauryaKalia
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=breeze_transparent
X-KDE-PluginInfo-Version=1.0.2
X-Plasma-API=5.0
